#begin{
	/*padding: 4%;*/
	margin-top: 30px;
}

#slideshow{
max-height: 500px;
overflow-y: hidden;

}
.large-12{
	padding-left: 12%;
	width: 89%;
	text-align: center;
}
p{
	font-size: 130%;

}
#txt{
	padding: 10px;
}
#som{
	padding-top: 30px;
}
h2{
	padding-left: 30%;
}
#program, #events {
	padding: 10px;
}

body{
	background-color: #ddd;
}
#themselves{
	border: solid 5px white;
}
.mySlides{

}