.trial {
	background-color: hotpink;
	height:400px;
	padding:70px;
	z-index: -1;
}

.woa {
	border: solid 2px black;
	background-color:white;
	margin-top:280px;
	margin-bottom: 40px;
	padding:50px;
	font-size: 150%;
}

body{
	text-align: center;
	background-color: black;
}