.hero .parallax-window {
    min-height: 600px;
    background: transparent;
}

.about {
    height: 70vh;
    background-color: #FFFFFF;
}

.about p {
    text-align: center;
    padding-top: 150px;
    font-size: 2em;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quote .parallax-window {
    min-height: 440px;
    background: transparent;
}

.impact {
    height: 20vw;
    background-color: black;
}

.impact p {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 20vw;
    font-size: 2.5em;
}

footer .contact {
    min-width: 100%
}

.events-prog {
    height: 30vw;
}

.light-pink {
    background-color: deeppink;
    height: 35vw;
    text-align: right;
    color: white;
}

.light-pink p {
    text-align: right
}

.dark-pink {
    background-color: hotpink;
    height: 35vw;
}

footer p {
    text-align: center;
    padding-top: 20px;
}