body {
    font-family: "raleway", serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    height: 65px;
    box-shadow: 0px 2px 7px #655a5a
}

nav li {
    float: left;
}

nav li img {
    height: 60px;
    padding-left: 100px;
}

nav li a {
    display: block;
    color: black;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

nav li .active {
    padding-right: 100px
}


/*********************************************************/

.hero {
    background-image: linear-gradient(rgba(136, 38, 38, 0.4), rgba(56, 37, 37, 0.4)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQIW2N8wlD7X4ahmZGBgYEBTMAACgcAavUDBArGUGUAAAAASUVORK5CYII=), url(../img/he.jpg);
}

.hero .parallax-window {
    min-height: 600px;
    background: transparent;
}

.hero p {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 2em;
    padding: 5px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 600px;
}

.about {
    height: 70vh;
    background-color: #FFFFFF;
}

.about p {
    text-align: center;
    padding-top: 150px;
    font-size: 2em;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quote .parallax-window {
    min-height: 440px;
    background: transparent;
}

.impact {
    height: 20vw;
    background-color: #E4007D;
}

.impact p {
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 20vw;
    font-size: 2.5em;
}

.events-prog {
    height: 30vw;
}

footer .contact {
    min-width: 100%
}

.light-pink {
    background-color: deeppink;
    height: 35vw;
    text-align: right;
    color: white;
}

.light-pink p {
    text-align: right
}

.dark-pink {
    background-color: hotpink;
    height: 35vw;
    color: white;
}

footer h5 {
    padding-top: 50px;
    font-size: 1.8em;
    font-family: "raleway", serif;
    font-weight: 600;
}

footer p {
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em
}

.post .contact form {
    display: table;
    margin: 0 auto;
}

.post .contact form .input-group textarea {
    background: #ffffff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
}