html,
body {
    background: #FAFAFA;
}
.card {
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px;
    background-color: ghostwhite;
}
.card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.card .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    display: inline-block;
}
.card p {
    margin: 0;
}
.card .action {
    padding: 1.3rem;
    text-align: right;
    display: inline-block;
    float: right;
}
.card a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
}
.card .image {
    position: relative;
    height: 200px;
    background-size: 100% 170%;
    background-repeat: no-repeat;
}
.card .image .title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.3rem;
    color: #fff;
    font-size: 2.5em;
}
.card .image img {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 300px;
}
.qq {
    padding: 3% 0;
}
.row {
    max-width: 75rem;
}
.event_date {
    display: inline-block;
}
.event_txt {
    border-right: 1px solid black;
}
.events_bg {
    background-image: url(../img/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
}
.img_1 {
    background-image: url(../img/pad.jpeg);
}
.img_2 {
    background-image: url(../img/pad2.jpg);
}
.img_3 {
    background-image: url(../img/pad3.jpg);
}
